<a href="#" class="view-commits">View</a>

<div class="modal fade modal-commits" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= branch.repo_name %> <%= branch.name %></h4>
      </div>
      <div class="modal-body">


  <% if branch.unmerged_commits.count > 0 %>
  <div class="clear"></div>
  <div class="commit-list-holder">
    <table class="table-striped commit-list">
      <tr>
        <th>Id</th><th>Author</th><th>Date</th><th>Message</th>
      </tr>
      <% branch.unmerged_commits.each do |commit| %>
      <tr>
        <td>
          <%= commit.id %>
        </td>
        <td>
          <%= commit.author %>
        </td>
        <td>
          <%= commit.time.strftime "%F %R" %>
        </td>
        <td>
          <%= commit.message %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <% end %>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>