<h1>Report generated <%=@report.date %></h1>

<h2><%= @report.repos.count %> repos in report</h2>
<ul>
	<% @report.repos.each do |repo| %>
		<li><%= repo %></li>
	<% end %>
</ul>

<h2><%= @report.old_feature_branches.count %> Old feature branches</h2>
<ul>
	<% @report.old_feature_branches.each do |branch| %>
		<li><%= branch %></li>
	<% end %>
</ul>

<h2><%= @report.unmerged_release_branches.count %> Unmerged release branches</h2>
<ul>
	<% @report.unmerged_release_branches.each do |branch| %>
		<li><%= branch %></li>
	<% end %>
</ul>

<h2><%= @report.master_branches_with_commits_missing_from_develop.count %> Master branches with commits missing from develop</h2>
<ul>
	<% @report.master_branches_with_commits_missing_from_develop.each do |branch| %>
		<li><%= branch %></li>
	<% end %>
</ul>