<div class="row">
  <div class="col-md-3">
    <div class="bs-sidebar hidden-print" role="complementary">
      <ul class="nav bs-sidenav affix-top">
        <li class="active"><a href="#overview">Overview</a></li>
        <li><a href="#master-brances-not-merged-to-develop"> <%= @report.master_branches_not_merged_to_develop.count %> Master brances not merged to develop</a></li>
        <li><a href="#release-branches-not-merged-to-develop"> <%= @report.release_branches_not_merged_to_develop.count %> Release branches not merged to develop</a></li>
        <li><a href="#release-branches-not-merged-to-master"> <%= @report.release_branches_not_merged_to_master.count %> Release branches not merged to master</a></li>
        <li><a href="#release-branches-merged-to-master-and-develop"> <%= @report.release_branches_merged_to_master_and_develop.count %> Release branches merged to master and develop</a></li>
        <li><a href="#hotfix-branches-not-merged-to-develop"> <%= @report.hotfix_branches_not_merged_to_develop.count %> Hotfix branches not merged to develop</a></li>
        <li><a href="#hotfix-branches-not-merged-to-master"> <%= @report.hotfix_branches_not_merged_to_master.count %> Hotfix branches not merged to master</a></li>
        <li><a href="#hotfix-branches-merged-to-master-and-develop"> <%= @report.hotfix_branches_merged_to_master_and_develop.count %> Hotfix branches merged to master and develop</a></li>
        <li><a href="#merged-feature-branches"> <%= @report.merged_feature_branches.count %> Merged feature branches</a></li>
        <li><a href="#unmerged-feature-branches"> <%= @report.unmerged_feature_branches.count %> Unmerged feature branches</a></li>
          </ul>
        </div>
  </div>
  <div class="col-md-9" role="main">
    <h1 id="overview">Overview</h1>
    Report generated: <%=@report.time.strftime("%Y-%m-%d %H:%M:%S") %> <br />

    <%= erb :repos, :layout => false, locals: {repos: @report.repo_names, title: 'Repos in report'} %>


    <%= erb :unmerged_branches, :layout => false, locals: {branches: @report.master_branches_not_merged_to_develop, title: 'Master branches not merged to develop', id: 'master-brances-not-merged-to-develop'} %>


    <%= erb :unmerged_branches, :layout => false, locals: {branches: @report.release_branches_not_merged_to_develop, title: 'Release branches not merged to develop', id: 'release-branches-not-merged-to-develop'} %>

    <%= erb :unmerged_branches, :layout => false, locals: {branches: @report.release_branches_not_merged_to_master, title: 'Release branches not merged to master', id: 'release-branches-not-merged-to-master'} %>

    <%= erb :merged_branches, :layout => false, locals: {branches: @report.release_branches_merged_to_master_and_develop, title: 'Release branches merged to master and develop', id: 'release-branches-merged-to-master-and-develop'} %>


    <%= erb :unmerged_branches, :layout => false, locals: {branches: @report.hotfix_branches_not_merged_to_develop, title: 'Hotfix branches not merged to develop', id: 'hotfix-branches-not-merged-to-develop'} %>

    <%= erb :unmerged_branches, :layout => false, locals: {branches: @report.hotfix_branches_not_merged_to_master, title: 'Hotfix branches not merged to master', id: 'hotfix-branches-not-merged-to-master'} %>

    <%= erb :merged_branches, :layout => false, locals: {branches: @report.hotfix_branches_merged_to_master_and_develop, title: 'Hotfix branches merged to master and develop', id: 'hotfix-branches-merged-to-master-and-develop'} %>


    <%= erb :merged_branches, :layout => false, locals: {branches: @report.merged_feature_branches, title: 'Merged feature branches', id: 'merged-feature-branches'} %>

    <%= erb :unmerged_branches, :layout => false, locals: {branches: @report.unmerged_feature_branches, title: 'Unmerged feature branches', id: 'unmerged-feature-branches'} %>
  </div>
</div>

