<div class="report-section">
	<h2 id="<%= id %>"><%= branches.count %> <%= title %></h2>
	<% if branches.count > 0 %>
	<div class="clear"></div>
	<table class="table-striped branch-list branch-list-unmerged">
		<tr>
			<th>
				Repo
			</th>
			<th>
				Branch
			</th>
			<th>
				Days since last commit
			</th>
			<th>
				Unmerged commits
			</th>
		</tr>

		<% branches.each do |branch| %>
		<tr>
			<td>
				<%= branch.repo_name %>
			</td>
			<td>
				<%= branch.name %>
			</td>
			<td>
				<%= branch.days_since_last_commit %>
			</td>
			<td>
				<%= branch.number_of_unmerged_commits %>
				<a href="#" class="view-commits">View</a>
				<!-- Modal -->
				<div class="modal fade modal-commits" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel"><%= branch.repo_name %> <%= branch.name %></h4>
							</div>
							<div class="modal-body">
								not implemented exception
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			</td>
		</tr>
		<% end %>
	</table>
	<% end %>
</div>
<div class="clear"></div>